body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.name-high{
    color: orange;
}
.half-part{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-part img{
    width: 100%;
}
.top-banner{
    border: 1px solid orange;
    background-image: url("/images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}